html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: normal 16px "Museo Sans Cyrl", sans-serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	vertical-align: middle;
}

.__l-wrap {
	display: flex;
	margin: 0 auto;
		-webkit-transition: max-width .5s ease;
	transition: max-width .5s ease;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.header {
	flex: 1 0 auto;
}

.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.header__up-header-container {
	background-color: #181818;
}

.up-header-container__up-header-context,
.header__logo-container {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.up-header-container__up-header-context {
	padding: 0.7em 0;
}

.up-header-container__up-header-context ul li {
	display: inline-block;
	padding-right: 2.5em;
}

.up-header-container__up-header-context ul li:last-child {
	padding-right: 0;
}

.up-header-container__up-header-context ul li a {
	color: #bfbfbf;
	font-size: 0.9em;
}

.up-header-container__up-header-context ul li a:hover {
	color: #fff;
}

.up-header-container__social-top-menu {
	margin-left: 1.6em;
}

.up-header-container__social-top-menu a {
	margin-right: 1em;
}

.up-header-container__social-top-menu a:last-child {
	margin-right: 0;
}

.header__logo-container {
	margin-top: 2em;
}

.logo-container-item__logo-phone {
	margin-top: 0.5em;
	text-align: center;
}

.logo-container-item__logo-phone a {
	font-size: 0.9em;
	font-weight: 600;
	color: #000;
}

.logo-container-item__logo-phone img {
	margin-right: 1em;
}

.logo-container__logo-container-item-search {
	width: 45%;
}

.logo-container__logo-container-item-search input {
	width: 90%;
	margin-right: 0.5em;
	padding: 0.4em 1.6em;
	outline: none;
	font-weight: 100;
}

.logo-container__logo-container-item-search input {
	border: 0.09em solid #bfbfbf;
		-webkit-border-radius: 10px 10px 10px 10px;
		-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
}

.logo-container__logo-container-item-search img:hover {
	cursor: pointer;
}

.logo-container-item__title_cabinet {
	vertical-align: middle;
	margin-left: 0.7em;
	cursor: pointer;
	color: #181818;
	font-size: 0.9em;
	font-weight: 700;
}

.logo-container-item__title_cabinet:hover {
	color: #005dba;
}

.__red-stik {
	color: #e20044;
}

.header__main-menu-container {
	justify-content: space-between;
	max-height: 100em;
	margin-top: 3em;
		-webkit-transition: max-height 0.85s ease-out;
	transition: max-height 0.85s ease-out;
	overflow: hidden;
}

.header__main-menu-container.__close-menu {
	max-height: 3em;
}

.header__main-menu-container a {
	display: block;
	margin-bottom: 0.9em;
	color: #005bb9;
	font-weight: 700;
	font-size: 1.3em;
}

.header__main-menu-container a:hover {
	color: #e20044;
	text-decoration: underline;
}

.main-menu-container__menu-items {
	width: 24.3%;
}

.main__main-content-row {
	justify-content: space-between;
}

.main-content-all-wrap__ads-banner {
	text-align: right;
}

.footer-content__text-cooperating {
	display: flex;
	align-items: baseline;
	border-top: 0.01em solid #353535
}

.footer	{
	padding-top: 2em;
	background-color: #181818;
}

.text-cooperating__text {
	color: #bfbfbf;
	font-weight: 100;
}

.footer__footer-content {
	flex-direction: column;
}

.footer-content__footer-menu {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin-bottom: 2em;
}

.footer-menu__menu-items h4 {
	color: #bfbfbf;
    font-weight: 500;
}

.footer-menu__menu-items a {
	color: #5e5e5e;
}

.footer-menu__menu-items a:hover {
	color: #bfbfbf;
	text-decoration: underline;
}

.main__main-page-wrapper {
	margin-bottom: 2em;
	margin-top: 2em;
	border: 1px solid #ececec;
		-moz-border-radius: 10px 10px 10px 10px;
		-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
}

.page-wrapper__hending,
.page-wrapper__text {
	padding: 1.2em 2em;
}

.page-wrapper__hending {
    border-bottom: 1px solid #ececec;
}

.main-menu-container__close-menu {
	cursor: pointer;
}

.__close-menu .__down-menu {
	display: block;
}

.__close-menu .__up-menu,
.__down-menu {
	display: none;
}

.logo-container-item__basket {
	position: relative;
}

.basket__number-wrap {
	position: absolute;
    bottom: 0.8em;
    left: -0.9em;
	padding: 0.15em;
	border-radius: 50%;
	display: table;
	background: -webkit-linear-gradient(#e20044, #005db9);
	background: -o-linear-gradient(#e20044, #005db9);
	background: -moz-linear-gradient(#e20044, #005db9);
	background: linear-gradient(#e20044, #005db9);
}

.number-wrap__number {
	display: table-cell;
    vertical-align: middle;
	width: 1.6em;
	height: 1.6em;
	background: #fff;
	border-radius: 50%;
	text-align: center;
	font-size: 0.8em;
}

/* ---search--- */
.result-row__product-items {
	display: flex;
	flex-wrap: wrap;
}

.main-content-all-wrap__filter {

}

/* ---end of search--- */


@media (min-width: 576px) {
.__l-wrap {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
.__l-wrap {
		max-width: 880px;
	}
}

@media (min-width: 1060px) {
.__l-wrap {
		max-width: 960px;
	}
}

@media (min-width: 1230px) {
.__l-wrap {
		max-width: 1140px;
	}
}